<%= simple_form_for (@distribution) do |f| %>
<%= f.error_notification %>
<%= f.input :name, label: "Nom de la distribution", hint: "Si laissé vide, le nom de l'organisation s'affichera à la place." %>
<%= f.input :address, input_html: { onFocus: "geolocate()" }, label: "Adresse de distribution", required: true, placeholder: "" %>
<%= f.input :address_1, :as => :hidden  %>
<%= f.input :address_2, label: "Complement d'adresse" %>
<%= f.input :postal_code, placeholder: "75012", input_html: { id: "postal_code" }, :as => :hidden  %>
<%= f.input :city, placeholder: "Paris", input_html: { id: "locality" }, :as => :hidden %>
<%= f.input :country, placeholder: "France", as: :string, input_html: { id: "country" }, :as => :hidden  %>
<%= f.input :event_type, as: :radio_buttons, collection: [["Récurrent", :regular], ["Ponctuel", :once]], item_wrapper_class: "radio-inline" , label: "Type d'évènement", required: true, checked: :regular, wrapper_html:{ id: 'event-inline'} %>
  <%= f.input :date, as: :string, wrapper_html: { id: 'datepicker' } %>

<div id="dayswrapper">
  <label class="control-label check_boxes optional">Jours de distribution</label>
  <div id="dayspicker">
    <%= f.input :monday, input_html: { class: "hidden" }, label: "Lu<i class='fa fa-check'></i>".html_safe %>
    <%= f.input :tuesday, input_html: { class: "hidden" }, label: "Ma<i class='fa fa-check'></i>".html_safe %>
    <%= f.input :wednesday, input_html: { class: "hidden" }, label: "Me<i class='fa fa-check'></i>".html_safe %>
    <%= f.input :thursday, input_html: { class: "hidden" }, label: "Je<i class='fa fa-check'></i>".html_safe %>
    <%= f.input :friday, input_html: { class: "hidden" }, label: "Ve<i class='fa fa-check'></i>".html_safe %>
    <%= f.input :saturday, input_html: { class: "hidden" }, label: "Sa<i class='fa fa-check'></i>".html_safe %>
    <%= f.input :sunday, input_html: { class: "hidden" }, label: "Di<i class='fa fa-check'></i>".html_safe %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <% f.object.start_time.nil? ? start_time = "" : start_time = localize(f.object.start_time, format: :short) %>
    <%= f.input :start_time, as: :string, label: "Heure de début", input_html: { value: start_time } %>
  </div>
  <div class="col-xs-6">
    <% f.object.end_time.nil? ? end_time = "" : end_time = localize(f.object.end_time, format: :short) %>
    <%= f.input :end_time, as: :string, label: "Heure de fin", input_html: { value: end_time } %>
  </div>
</div>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {

  $('#datepicker input').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    language: "fr",
    autoclose: true,
    todayHighlight: true
  });

  $('#distribution_start_time').timepicker({ 'timeFormat': 'H\\hi', 'scrollDefault': 'now' });
  $('#distribution_end_time').timepicker({ 'timeFormat': 'H\\hi', 'scrollDefault': 'now' });

  $('#datepicker').hide();
  $('#dayswrapper').show();

  $('.distribution_event_type input').click(function() {
    var frequency = $(".distribution_event_type input[type='radio']:checked").attr('id');
    if (frequency == "distribution_event_type_once") {
      $('#datepicker').fadeIn();
      $('#dayswrapper').hide();
    } else if (frequency == "distribution_event_type_regular") {
      $('#datepicker').hide();
      $('#dayswrapper').fadeIn();
    }
  });


    $("#dayspicker label").change(function(){
      $(this).toggleClass("active");
    });

    $("#dayspicker input").filter( ":checked" ).each(function() {
      $(this).parent().addClass("active");
   });
  });

</script>
<% end %>
