<%= simple_form_for (@distribution) do |f| %>
<%= f.error_notification %>
<%= f.input :name, label: "Nom de la distribution", hint: "Si laissé vide, le nom de l'organisation s'affichera à la place." %>
<%= f.input :address, input_html: { onFocus: "geolocate()" }, label: "Adresse de distribution", required: true, placeholder: "" %>
<%= f.input :address_1, :as => :hidden  %>
<%= f.input :address_2, label: "Complement d'adresse" %>
<%= f.input :postal_code, placeholder: "75012", input_html: { id: "postal_code" }, :as => :hidden  %>
<%= f.input :city, placeholder: "Paris", input_html: { id: "locality" }, :as => :hidden %>
<%= f.input :country, placeholder: "France", as: :string, input_html: { id: "country" }, :as => :hidden  %>
<%= f.input :frequency, as: :radio_buttons, collection: [["Réccurent", :regular], ["Ponctuel", :once]], item_wrapper_class: "radio-inline" , label: "Type d'évènement", required: true, checked: :regular %>
  <%= f.input :date, wrapper_html: { id: 'datepicker' } %>

<div id="dayswrapper">
  <label class="control-label check_boxes optional">Jours de distribution</label>
  <%= f.input :weekdays,
    as: :check_boxes,
    collection: [["Lu<i class='fa fa-check'></i>".html_safe, :mon],
    ["Ma<i class='fa fa-check'></i>".html_safe, :tue],
    ["Me<i class='fa fa-check'></i>".html_safe, :wed],
    ["Je<i class='fa fa-check'></i>".html_safe, :thu],
    ["Ve<i class='fa fa-check'></i>".html_safe, :fri],
    ["Sa<i class='fa fa-check'></i>".html_safe, :sat],
    ["Di<i class='fa fa-check'></i>".html_safe, :sun]],
    item_wrapper_class: "checkbox-inline",
    wrapper_html: { id: 'dayspicker' },
    checked: @recurrence[:days],
    label: false,
    input_html: { class: "hidden" } %>
</div>
<div class="row">
  <div class="col-xs-6">
    <%= f.input :start_time, input_html: { id: 'start_time' }, label: "Heure de début", input_html: { value: @recurrence[:start_min] } %>
  </div>
  <div class="col-xs-6">
    <%= f.input :end_time, input_html: { id: 'end_time' }, label: "Heure de fin", input_html: { value: @recurrence[:end_time] } %>
  </div>
</div>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {

  $('#datepicker input').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    language: "fr",
    autoclose: true,
    todayHighlight: true
  });

  $('#distribution_start_time').timepicker({ 'timeFormat': 'H\\hi', 'scrollDefault': 'now' });
  $('#distribution_end_time').timepicker({ 'timeFormat': 'H\\hi', 'scrollDefault': 'now' });

  $('#datepicker').hide();
  $('#dayswrapper').show();

  $('.distribution_frequency input').click(function() {
    var frequency = $(".distribution_frequency input[type='radio']:checked").attr('id');
    if (frequency == "distribution_frequency_once") {
      $('#datepicker').fadeIn();
      $('#dayswrapper').hide();
    } else if (frequency == "distribution_frequency_regular") {
      $('#datepicker').hide();
      $('#dayswrapper').fadeIn();
    }
  });


    $("#dayspicker label").change(function(){
      $(this).toggleClass("active");
    });

    $("#dayspicker input").filter( ":checked" ).each(function() {
      $(this).parent().addClass("active");
   });
  });

</script>
<% end %>
