<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-6 col-md-offset-3">
      <%= simple_form_for (@distribution) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :address_1, placeholder: "12 square de Verdun", input_html: { onFocus: "geolocate()" } %>
      <%= f.input :address_2 %>
      <%= f.input :postal_code, placeholder: "75012", input_html: { id: "postal_code" }  %>
      <%= f.input :city, placeholder: "Paris", input_html: { id: "locality" } %>
      <%= f.input :country, placeholder: "France", as: :string, input_html: { id: "country" }  %>
      <%= f.input :station, placeholder: "Gare de l'Est" %>
      <%= f.input :frequency, as: :radio_buttons, collection: ["Once", "Daily", "Weekly", "Monthly"], item_wrapper_class: "radio-inline" %>
      <%= f.input :date, wrapper_html: { id: 'datepicker' } %>
      <%= f.input :weekdays, as: :check_boxes, collection: %w(Mon Tue Wed Thu Fri Sat Sun), item_wrapper_class: "checkbox-inline", wrapper_html: { id: 'dayspicker'} %>
      <%= f.input :monthdates, as: :select, collection: (1..31).to_a, wrapper_html: { id: 'monthdates'} %>
      <%= f.input :start_time, input_html: { id: 'start_time' } %>
      <%= f.input :end_time, input_html: { id: 'end_time' } %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  <!-- <script> -->
    $('#datepicker input').datepicker({
      format: "dd/mm/yyyy",
      weekStart: 1,
      language: "fr",
      autoclose: true
    });

  $('#start_time').timepicker({ 'timeFormat': 'H\\hi', 'scrollDefault': 'now' });
  $('#end_time').timepicker({ 'timeFormat': 'H\\hi', 'scrollDefault': 'now' });

  $('#datepicker').hide();
  $('#dayspicker').hide();
  $('#monthdates').hide();

  $('.distribution_frequency input').click(function() {
    var frequency = $(".distribution_frequency input[type='radio']:checked").attr('id');
    if (frequency == "distribution_frequency_once") {
      $('#datepicker').show();
      $('#dayspicker').hide();
      $('#monthdates').hide();
    } else if (frequency == "distribution_frequency_daily") {
      $('#datepicker').hide();
      $('#dayspicker').hide();
      $('#monthdates').hide();
    } else if (frequency == "distribution_frequency_weekly") {
      $('#datepicker').hide();
      $('#dayspicker').show();
      $('#monthdates').hide();
    } else if (frequency == "distribution_frequency_monthly") {
      $('#datepicker').hide();
      $('#dayspicker').hide();
      $('#monthdates').show();
    }
    });

  <% end %>
  <!-- </script> -->
<!--   <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAi-cd_OyaQVKbvoCGRTRSCapQKlqoks9E&callback=initAutocomplete"></script> -->
<% end %>
