<div class="distribution-show">
  <div class="distribution-body">

    <div class="distribution-section-header">
      <h2><%= @distribution.name %></h2>
      <ul class="list-inline">
        <li>
          <% if policy(@distribution).edit? %>
            <%= link_to edit_distribution_path(@distribution) do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if policy(@distribution).destroy? %>
            <%= link_to distribution_path(@distribution), method: :delete, data: { confirm: I18n.t('confirm_delete') } do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to distributions_path do %>
            <i class="fa fa-backward" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="distribution-section">
      <p><i class="fa fa-map-marker" aria-hidden="true"></i>
        <%= @distribution.address_1 %>,
        <%= @distribution.postal_code %>
        <%= @distribution.city %>,
        <%= @distribution.country %>
      </p>
      <p><i class="fa fa-subway" aria-hidden="true"></i> <%= @distribution.station %></p>
      <p><i class="fa fa-group" aria-hidden="true"></i>
        <%= link_to @distribution.organization.organization_name, organization_path(@distribution.organization) %>
      </p>
      <p></p><i class="fa fa-calendar" aria-hidden="true"></i> <%= @recurrence %></p>
      <ul>
        <% @recurrence.first(5).each do |recurrence| %>
          <li>
            <%= recurrence.strftime("%a, %e %b %Y %Hh%M") %>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="map" style="height: 400px; width: 100%;"></div>
  </div>

  <div class="distribution-aside">
    <div class="share-links">
      <a href="#" class="share-link bg-facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="share-link bg-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="share-link bg-email">
        <i class="fa fa-envelope-o"></i>
      </a>
      <a href="#" class="share-link bg-text">
        <i class="fa fa-mobile"></i>
      </a>
      </div>
    <div class="distribution-section">
      <div class="title-aside">Vous vous interesserez aussi</div>
      <div class="distribution-list-aside">
      <% @distributions.each do |distribution| %>
        <div class="distribution-item">
          <%= link_to distribution_path(distribution), class: "distribution-link"  do %>
            <p><%= distribution.name %>
              <%= distribution.address_1 %>
              <%= distribution.postal_code %>
              <%= distribution.city %>
            </p>
          <% end %>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<% raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

