<!-- <div class="distribution-show"> -->

<!--     <div class="distribution-section-header">
-->

<div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">

  <h1><%= @distribution.display_name %></h1>
  </div>
  </div>
  <div id="distribution-body">
  <div class="row">

<div class="col-sm-6 col-md-4 col-sm-push-6 col-md-push-4 col-md-offset-2">

  <ul class="fa-ul">
    <li><i class="fa fa-li fa-map-marker" aria-hidden="true"></i>
      <span class="details-title">Adresse</span>
      <p>
        <%= @distribution.address_1 %>,
        <%= @distribution.postal_code %>
        <%= @distribution.city %>
      </p>
    </li>
  </ul>
  <ul class="fa-ul">
    <li><i class="fa fa-li fa-subway" aria-hidden="true"></i>
      <span class="details-title">Transports</span>

      <% @distribution.stations.each do |station| %>
        <div>
          <% station.lines.each do |line| %>
            <span class="line_number" style="color: <%= line.text_color %>; background-color: <%= line.background_color %>">
              <%= line.name %>
            </span>
          <% end %>
          <span class="station_name"><%= station.name %></span>
        </div>
      <% end %>
    </li>
  </ul>

  <!--   <div class="distribution-aside">
-->    <div id="map" style="height: 300px; width: 100%;"></div>

<div class="share-links">
  <a href="#" class="share-link bg-facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="#" class="share-link bg-twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="#" class="share-link bg-email">
    <i class="fa fa-envelope-o"></i>
  </a>
  <a href="#" class="share-link bg-text">
    <i class="fa fa-mobile"></i>
  </a>
</div>
  <!--     <div class="distribution-section">
-->
  <!--     </div>
    </div>
  </div> -->
</div>

<div class="col-sm-6 col-md-4 col-sm-pull-6 col-md-pull-4">

      <% if policy(@distribution).edit? || policy(@distribution).destroy? %>
      <ul class="list-inline">
        <li>
          <% if policy(@distribution).edit? %>
          <%= link_to edit_distribution_path(@distribution) do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
          <% end %>
        </li>
        <li>
          <% if policy(@distribution).destroy? %>
          <%= link_to distribution_path(@distribution), method: :delete, data: { confirm: I18n.t('confirm_delete') } do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
          <% end %>
        </li>
          <!-- <li>
            <%= link_to distributions_path do %>
              <i class="fa fa-backward" aria-hidden="true"></i>
            <% end %>
          </li> -->
        </ul>
      <% end %>

    <div class="distribution-section">
      <p><i class="fa fa-map-marker" aria-hidden="true"></i>
        <%= @distribution.address_1 %>,
        <%= @distribution.postal_code %>
        <%= @distribution.city %>,
        <%= @distribution.country %>
      </p>
      <p><i class="fa fa-subway" aria-hidden="true"></i> <%= @distribution.station %></p>
      <p><i class="fa fa-group" aria-hidden="true"></i>
        <span>Organisé par </span><%= link_to @distribution.organization.name, organization_path(@distribution.organization) %>
      </p>
      <p>
        <i class="fa fa-calendar" aria-hidden="true"></i> <%= @recurrence %>
        <span>à <%=  @recurrence.first.strftime("%Hh%M") %></span>
      </p>
      <ul>
        <% @recurrence.first(5).each do |recurrence| %>
          <li>
            <p><%= recurrence.strftime("%a, %e %b %Y %Hh%M") %></p>
          </li>
        <% end %>
      </ul>
    </div>


<ul class="fa-ul">
  <li><i class="fa fa-li fa-clock-o" aria-hidden="true"></i>
    <span class="details-title">Heure de distribution</span>

    <p><%=  @distribution.schedule.start_time.strftime("%Hh%M") %> à <%=  @distribution.schedule.end_time.strftime("%Hh%M") %></p>
  </li>
</ul>
<ul class="fa-ul">
  <li><i class="fa fa-li fa-calendar" aria-hidden="true"></i>
    <span class="details-title">Jours</span>

    <ul class="list-inline week_days text-center">
      <li>Lun<br><%= @distribution.mon? ? "<i class='fa fa-check week_day'></i>".html_safe : "-" %></li>
      <li>Mar<br><%= @distribution.tue? ? "<i class='fa fa-check week_day'></i>".html_safe : "-" %></li>
      <li>Mer<br><%= @distribution.wed? ? "<i class='fa fa-check week_day'></i>".html_safe : "-" %></li>
      <li>Jeu<br><%= @distribution.thu? ? "<i class='fa fa-check week_day'></i>".html_safe : "-" %></li>
      <li>Ven<br><%= @distribution.fri? ? "<i class='fa fa-check week_day'></i>".html_safe : "-" %></li>
      <li>Sam<br><%= @distribution.sat? ? "<i class='fa fa-check week_day'></i>".html_safe : "-" %></li>
      <li>Dim<br><%= @distribution.sun? ? "<i class='fa fa-check week_day'></i>".html_safe : "-" %></li>
    </ul>

  </li>
</ul>

<ul class="fa-ul">
  <li><i class="fa fa-li fa-cutlery" aria-hidden="true"></i>
    <span class="details-title">Prochaines distributions</span>

    <ul class="list-unstyled">
      <% @distribution.schedule.next_occurrences(5).each do |recurrence| %>
      <li>
        <%= l(recurrence, format: "%A, %e %B %Y") %>
      </li>
      <% end %>
    </ul>

  </li>
</ul>

<ul class="fa-ul">
  <li><i class="fa fa-li fa-group" aria-hidden="true"></i>
    <span class="details-title">Organisateur</span>
    <p><%= link_to @distribution.organization.organization_name, organization_path(@distribution.organization) %></p>
  </li>
</ul>

<ul class="fa-ul">
  <li><i class="fa fa-li fa-compass" aria-hidden="true"></i>
  <span class="details-title">Dans le même quartier</span>
  <% @distributions_around.each do |distribution| %>
    <p>
      <%= link_to distribution.display_name, distribution_path(distribution), class: "distribution-link" %><br>
      <%= distribution.address_1 %>
      <%= distribution.postal_code %>
      <%= distribution.city %>
    </p>

  <% end %>

</div>

</div>
</div>
</div>


<% content_for(:after_js) do %>

<script>
  window.distrib_markers = null;
  window.distrib_map = null;
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
      window.distrib_markers = markers;
      window.distrib_map = handler;
    });

    $("body").on("mouseenter", ".distribution-item", function() {
      var index = $(this).data("id");
      var marker = window.distrib_markers[index];
      var infowindow = marker.infowindow;
      window.distrib_map.getMap().setCenter(marker.serviceObject.position)
      google.maps.event.trigger(marker.getServiceObject(), 'click');
    })
    $("body").on("mouseleave", ".distribution-item", function() {
      $(".gm-style-iw").next().click();
    });
  });
</script>
<% end %>

