<div class="container">
  <div class="row">
    <div class="col-sx-12 col-offset-sx-0 col-sm-6 col-offser-sm-3 col-md-8 col-offser-md-2">
      <p>Soup kitchen: <%= @distribution.name %></p>
      <p>Where?
        <%= @distribution.address_1 %>
        <%= @distribution.address_2 %>
        <%= @distribution.station %>
        <%= @distribution.city %>
        <%= @distribution.country %>
      </p>
      <p>Organized by: <%= @distribution.organization.organization_name %></p>

    </div>
  </div>
</div>

<% if policy(@distribution).edit? %>
  <%= link_to "Update", edit_distribution_path(@distribution) %>
<% end %>
<% if policy(@distribution).destroy? %>
  <%= link_to "Delete", distribution_path(@distribution), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<%= link_to 'Back', distributions_path %>

<div id="map"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @distribution_coordinates.to_json %>;

      var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers([
        {
          "lat": coord.lat,
          "lng": coord.lng,
          "infowindow": "<h1>Paris</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/001/thumbnail/15079403417_371f698d27_k.jpg?1445521241' height='200'></p>"
        }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      <!-- alert('Distribution coordinates are ' + coord.lat + ', ' + coord.lng); -->
    });
  <% end %>
<% end %>


