<div class="distribution-show">
  <div class="distribution-body">

    <div class="distribution-section-header">
      <h1><%= @distribution.display_name %></h1>
      <ul class="list-inline">
        <li>
          <% if policy(@distribution).edit? %>
          <%= link_to edit_distribution_path(@distribution) do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
          <% end %>
        </li>
        <li>
          <% if policy(@distribution).destroy? %>
          <%= link_to distribution_path(@distribution), method: :delete, data: { confirm: I18n.t('confirm_delete') } do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
          <% end %>
        </li>
        <!-- <li>
          <%= link_to distributions_path do %>
            <i class="fa fa-backward" aria-hidden="true"></i>
          <% end %>
        </li> -->
      </ul>
    </div>

    <div class="distribution-section">
      <span class="details-title"><i class="fa fa-map-marker" aria-hidden="true"></i> ADRESSE</span>
      <p>
      <%= @distribution.address_1 %><br>
      <%= @distribution.postal_code %>
      <%= @distribution.city %>
    </p>
    <span class="details-title"><i class="fa fa-subway" aria-hidden="true"></i> TRANSPORTS</span>

    <p><%= @distribution.station %></p>

    <span class="details-title"><i class="fa fa-clock-o" aria-hidden="true"></i> HORAIRES DE DISTRIBUTION</span>

    <p><%=  @recurrence.first.strftime("%Hh%M") %></p>

    <span class="details-title"><i class="fa fa-calendar" aria-hidden="true"></i> JOURS DE DISTRIBUTION</span>

    <ul class="list-inline days text-center">
        <li>Lun<br><%= @distribution.mon? ? "<i class='fa fa-check day'></i>".html_safe : "-" %></li>
        <li>Mar<br><%= @distribution.tue? ? "<i class='fa fa-check day'></i>".html_safe : "-" %></li>
        <li>Mer<br><%= @distribution.wed? ? "<i class='fa fa-check day'></i>".html_safe : "-" %></li>
        <li>Jeu<br><%= @distribution.thu? ? "<i class='fa fa-check day'></i>".html_safe : "-" %></li>
        <li>Ven<br><%= @distribution.fri? ? "<i class='fa fa-check day'></i>".html_safe : "-" %></li>
        <li>Sam<br><%= @distribution.sat? ? "<i class='fa fa-check day'></i>".html_safe : "-" %></li>
        <li>Dim<br><%= @distribution.sun? ? "<i class='fa fa-check day'></i>".html_safe : "-" %></li>
      </ul>


      <i class="fa fa-group" aria-hidden="true"></i>
      <span>Voir toutes les distributions par </span><%= link_to @distribution.organization.organization_name, organization_path(@distribution.organization) %>
      </p>


      <p>
        <i class="fa fa-calendar" aria-hidden="true"></i> <%= @recurrence %>
        <span>à <%=  @recurrence.first.strftime("%Hh%M") %></span>
      </p>
      <ul>
        <% @recurrence.first(5).each do |recurrence| %>
        <li>
          <p><%= recurrence.strftime("%a, %e %b %Y %Hh%M") %></p>
        </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="distribution-aside">
    <div id="map" style="height: 400px; width: 100%;"></div>

    <div class="share-links">
      <a href="#" class="share-link bg-facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="share-link bg-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="share-link bg-email">
        <i class="fa fa-envelope-o"></i>
      </a>
      <a href="#" class="share-link bg-text">
        <i class="fa fa-mobile"></i>
      </a>
    </div>
    <div class="distribution-section">
      <div class="title-aside">Vous vous interesserez aussi</div>
      <div class="distribution-list-aside">
        <% @distributions.each do |distribution| %>
        <div class="distribution-item">
          <%= link_to distribution_path(distribution), class: "distribution-link"  do %>
          <p><%= distribution.name %>
            <%= distribution.address_1 %>
            <%= distribution.postal_code %>
            <%= distribution.city %>
          </p>
          <% end %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>

<script>
  window.distrib_markers = null;
  window.distrib_map = null;
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
      window.distrib_markers = markers;
      window.distrib_map = handler;
    });

    $("body").on("mouseenter", ".distribution-item", function() {
      var index = $(this).data("id");
      var marker = window.distrib_markers[index];
      var infowindow = marker.infowindow;
      window.distrib_map.getMap().setCenter(marker.serviceObject.position)
      google.maps.event.trigger(marker.getServiceObject(), 'click');
    })
    $("body").on("mouseleave", ".distribution-item", function() {
      $(".gm-style-iw").next().click();
    });
  });
</script>
<% end %>

