<div class="container">
  <div class="row">
    <div class="col-sx-12 col-offset-sx-0 col-sm-6 col-offser-sm-3 col-md-8 col-offser-md-2">
      <p>Soup kitchen: <%= @distribution.name %></p>
      <p>Where?
        <%= @distribution.address_1 %>
        <%= @distribution.address_2 %>
        <%= @distribution.station %>
        <%= @distribution.city %>
        <%= @distribution.country %>
      </p>
      <p>Organized by: <%= @distribution.organization.organization_name %></p>

    </div>
  </div>
</div>

<% if policy(@distribution).edit? %>
  <%= link_to "Update", edit_distribution_path(@distribution) %>
<% end %>
<% if policy(@distribution).destroy? %>
  <%= link_to "Delete", distribution_path(@distribution), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<%= link_to 'Back', distributions_path %>

<div id="map"></div>

<% content_for(:after_js) do %>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAi-cd_OyaQVKbvoCGRTRSCapQKlqoks9E" %>

  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
