<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>À propos</h1>

      <p class="lead">SOS Food est un service solidaire qui permet aux personnes démunies de trouver un repas gratuit par SMS.</p>

      <h3>Pourquoi SOS Food ?</h3>

      <p>En 2017, l’insécurité alimentaire est toujours présente en France :</p>
      <ul>
        <li><strong>6 millions</strong> d'adultes en situation d’insécurité alimentaire, dont 2,5 millions qui n’ont par recours à l’aide.</li>
        <li><strong>120 000</strong> personnes sans domicile fixe.</li>
        <li><strong>44%</strong> des foyers ayant de lourdes charges de logement qui déclarent se restreindre en alimentation.</li>
      </ul>

      <h3>Comment ça fonctionne&nbsp;?</h3>
        <p>Nous proposons deux modalités d'usage :</p>

        <ul>
          <li>
            <p>Utilisation ponctuelle : le bénéficiaire envoie une adresse, un code postal, ou un arrêt de métro au <strong>06&nbsp;44&nbsp;63&nbsp;96&nbsp;96</strong> (SMS standard non surtaxé), et reçoit un SMS avec trois propositions de repas (petit-déjeuner, déjeuner et dîner) pour les prochaines 24h.</p>
          </li>

           <li><p>Abonnement : le bénéficiaire reçoit automatiquement un SMS tous les soirs avec trois propositions de repas pour le lendemain. Pour s’abonner, il suffit d’envoyer un SMS avec le mot-clé <strong>alerte</strong>, suivi d'une adresse, un code postal, ou un arrêt de métro.</p></li>
        </ul>

      <h3>Qui sommes-nous ?</h3>

      <%= image_tag "team.JPG", width: "100%" %>

      <p><br>SOS Food est une association à but non lucratif (loi 1901). La solution a été développée en février 2017 par 4 élèves du <%= link_to "Wagon", "http://lewagon.com" %> : Rafael Millán, Paule-Emma Duloir, Xuan Bich Mai Thi et Moufid Jaber.</p>

      <h3>Vous avez contribué à financer SOS Food !</h3>

      <p>Un très grand merci aux 47 donateurs qui ont contribué à la <%= link_to "campagne de crowdfunding", "helloasso.com/associations/sos-food/collectes/lancement-de-sos-food-le-sms-au-service-de-l-aide-alimentaire" %> du projet-pilote :
        Morgan Fiette,
        CALLR,
        Andrée Souklaye,
        Félix Le Pottier,
        Vero et Adrian Montes Cabrera,
        Ismael Martel,
        Geoffroy Berson,
        Mael Primet,
        Sophie Duc,
        Isabelle Reusa,
        Christine Emery,
        Viviana Benacerraf,
        Sarah Lelievre,
        Edouard Foussier,
        Souhel Salloub,
        Magdalena Gonzalez Munoz,
        Sarah Moulin,
        Clement Fallet,
        Josiane Vernabel,
        Mai-Lan Bernaud,
        Solian M'Bareck,
        Elodie Royant,
        Lilian Bich,
        Elisa Hery,
        Timothée Goguely,
        Charlotte Legrand,
        Akram Dhane,
        Clément Box,
        Catherine Sioudan,
        Eduardo Granizo,
        Marjolaine Girard,
        Alyssa Biot,
        Nicolas Ferrary,
        Cédric Menteau,
        Annelise Meyer,
        Isidore Beuzon,
        Stephane Gabbay,
        Anne-Sophie Chambon,
        Marion Chab,
        Louis Giraux,
        Salam Abbara,
        Fernando Serpone Bueno,
        Félix Becquart,
        Edward Schults,
        Lambert Leboucher,
        Romain Paillard et
        Thibault Geffroy.
      </p>
      <p>Nous adressons nos remerciements particuliers à <%= link_to "CALLR", "https://www.callr.com/" %>, notre principal donateur, à <%= link_to "Officience", "http://officience.com/fr/" %> pour le prêt des locaux, et au <%= link_to "Wagon", "http://lewagon.com" %> pour le don des contreparties de la campagne de crowdfunding.</p>
      <p>De la part de toute l'équipe SOS Food, à tous, MERCI !</p>
     <br>
    </div>
  </div>
</div>









































