<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="beta-introduction">
        <h1>Lancement de SOS Food (version bêta)</h1>

        <p class="lead">Associations, référencez vos distributions de repas sur SOS Food et touchez plus de bénéficiaires. Pour commencer, <%= link_to "inscrivez-vous", new_user_registration_path %>.</p>

        <p>SOS Food est un service solidaire qui permet aux personnes démunies de trouver un repas gratuit par SMS.</p>

        <p><strong>La version bêta du service sera déployée en deux étapes :</strong></p>
        <ul>
          <li>le 20 mars 2017, pour les associations qui souhaitent référencer leurs distributions de repas ;</li>
          <li>début mai 2017, pour les bénéficiaires.</li>
        </ul>
        <div id="beta-buttons">
          <%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-primary" %>
          <%= link_to "Donner un feedback", "https://goo.gl/forms/0xzUlSplDe555zwp2", target: :_blank, class: "btn btn_transparent_black" %>
        </div>
      </div>
      <div id="faq">
        <h2>FAQ</h2>
        <h3>Comment fonctionne SOS Food pour les bénéficiaires&nbsp;?</h3>
        <p>Nous proposons deux modalités d'usage :</p>

        <ul>
          <li>
            <p>Utilisation ponctuelle : le bénéficiaire envoie une adresse, un code postal, ou un arrêt de métro au <strong>06 44 64 78 97</strong> (SMS standard non surtaxé), et reçoit un SMS avec trois propositions de repas (petit-déjeuner, déjeuner et dîner) pour les prochaines 24h.</p>
          </li>

           <li><p>Abonnement : le bénéficiaire reçoit automatiquement un SMS tous les soirs avec trois propositions de repas pour le lendemain. Pour s’abonner, il suffit d’envoyer un SMS avec le mot-clé <strong>alerte</strong>, suivi d'une adresse, un code postal, ou un arrêt de métro.</p></li>
        </ul>

        <h3>Je suis une association, comment puis-je ajouter mes distributions de repas&nbsp;?</h3>
        <p><%= link_to "Inscrivez-vous",new_user_registration_path %> pour ajouter vos distributions de repas. Elles seront validées sous 24h par notre équipe.</p>

        <h3>Quel est le coût pour le bénéficiaire&nbsp;?</h3>
        <p>SOS Food est un service <strong>gratuit</strong>. Cependant, à l'envoi, le coût d'un SMS standard (non surtaxé) peut être à la charge du bénéficiaire en fonction de son forfait mobile :
        <ul>
          <li>Pour ceux qui ont un forfait téléphone dit « illimité », il n'y a pas de surplus à payer.</li>
          <li>Pour les autres, le coût est celui d’un SMS standard (non surtaxé).</li>
          <li>Dans les deux cas, la réception des SMS est gratuite.</li>
        </ul>

        <p>Nous proposons également un service d’abonnement, qui permet de recevoir automatiquement un SMS tous les jours avec trois proposition de repas pour le lendemain.</p>

        <h3>Quel est le coût pour les associations&nbsp;?</h3>
        <p>SOS Food est un service <strong>gratuit</strong>.</p>

        <h3>Quelles types de distributions sont acceptées sur SOS Food&nbsp;?</h3>
        <p>SOS Food est disponible pour toutes les distributions de repas ouvertes aux personnes démunies. Par exemple, nous acceptons les distributions réservées aux personnes justifiant de leur situation précaire. En revanche, pour des raisons pratiques, les distributions réservées à des publics spécifiques (personnes âgées, femmes, etc.) ne sont pas acceptées. En cas de doute, n’hésitez pas à contacter sur <%= link_to "contact@sos-food.org", "mailto:contact@sos-food.org" %>.</p>

        <h3>Quelle est la couverture géographique de SOS Food&nbsp;?</h3>
        <p>Au lancement, SOS Food ne sera opérationnel que dans Paris et sa petite couronne.</p>

        <h3>Il faut être inscrit à ma distribution de repas pour y bénéficier, puis-je la publier tout de même&nbsp;?</h3>
        <p>Oui, mais seulement si l’inscription peut se faire sur place, à la même adresse où a lieu la distribution de repas.</p>

        <h3>Mes distributions de repas se déroulent plusieurs fois par semaine et à plusieurs endroits différents, dois-je publier une nouvelle distribution à chaque fois&nbsp;?</h3>
        <p>Une distribution correspond à un lieu et à un horaire, mais peut se dérouler plusieurs fois par semaine. Par exemple :</p>
        <table class="table table-bordered">
          <tr>
            <th>Cas d'usage</th>
            <th>Publications</th>
          </tr>
          <tr>
            <td>Le lundi et le mercredi, de 19h à 21h, à Gare de l’Est</td>
            <td>Une seule distribution à publier</td>
          </tr>
          <tr>
            <td>Le mardi, de 12h à 14h et de 19h à 21h, à Gare de l’Est</td>
            <td>Deux distributions à publier<br>(pour 12h et pour 19h)</td>
          </tr>
          <tr>
            <td>Le samedis, de 12h à 14h, à Gare du Nord et à La Chapelle</td>
            <td>Deux distributions à publier<br>(pour Gare du Nord et pour La Chapelle)</td>
          </tr>
        </table>

        <h3>J’organise une distribution ponctuelle, puis-je la publier sur SOS Food&nbsp;?</h3>
        <p>Oui, vous pouvez publier une distribution qui aura lieu une fois uniquement.</p>

        <h3>J’organise une maraude, puis-je la publier sur SOS Food&nbsp;?</h3>
        <p>SOS Food n’accepte, pour l’instant, que les distributions qui se déroulent dans un lieu précis.</p>

        <h3>Quel est le modèle économique de SOS Food&nbsp;?</h3>
        <p>SOS Food est une association à but non lucratif. Le développement de la plateforme web et SMS est assuré par une équipe de bénévoles. Le coût des SMS sera pris en charge par des subventions et par une campagne des dons dont nour annoncerons les modalités très prochainement. Si vous souhaitez aider à financer SOS Food, n'hésitez pas à rentrer en contact avec nous sur <%= link_to "contact@sos-food.org", "mailto:contact@sos-food.org" %>.</p>

        <h3>J’ai trouvé un bug sur votre site, comment puis-je le signaler&nbsp;?</h3>
        <p>Nous avons une <%= link_to "page consacrée", "https://goo.gl/forms/0xzUlSplDe555zwp2", target: :_blank %> à cela.</p>

        <h3>Une autre question&nbsp;?</h3>
        <p>Contactez-nous sur <%= link_to "contact@sos-food.org", "mailto:contact@sos-food.org" %>.</p>
      </div>
    </div>
  </div>
</div>
