<div class="banner" style="background-image: linear-gradient(45deg, rgba(87,209,201,1) 0%,rgba(87,209,201,0.7) 100%), url('<%= image_path 'soup_kitchen_2.jpg' %>');">
  <div class="container">
    <div class="banner-content">
      <h1>Trouver un repas solidaire.<br>Simple comme un SMS.</h1>
      <%= link_to "Comment ça fonctionne ?", "#comment-ca-marche", class: "btn btn-primary btn", id: "btn-scroll"%>
      <%= link_to "Ajouter un repas", new_distribution_path, class: "btn btn_transparent btn" %>
    </div>
  </div>
</div>


<!-- SMS animé à ajouter peut etre <h1>Trouvez un repas solidaire.<br>Simple comme un <span style="display: inline-block", class="fadeInUp animated">SMS</span>.</h1>
<div class="container">
 -->
<div class="container">
  <div id="features">
    <div class="row">
      <div class="col-sm-6" id="comment-ca-marche">
        <h2 id="features-title">Comment<br>ça fonctionne ?</h2>
      </div>
      <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag 'Chat.png', class: "features-icon" %>
        </div>
        <div class="col-xs-9">
          <h3>Utilisation ponctuelle</h3>
          <p>
            Envoyez une adresse, un code postal, ou un arrêt de métro au <span style="color: #ED5485; font-weight: bold;">06&nbsp;07&nbsp;08 09 10</span> (SMS standard non surtaxé). Recevez un SMS avec trois propositions de repas (petit-déjeuner, déjeuner et dinner) pour les prochaines 24h.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag 'Antenna.png', class: "features-icon" %>
        </div>
        <div class="col-xs-9">
          <h3>Abonnement</h3>
          <p>
            Envoyez une adresse, un code postal, ou un arrêt de métro au <span style="color: #ED5485;font-weight: bold;">06&nbsp;07&nbsp;08 09 10</span> (SMS standard non surtaxé), précédé du mot-clé <span style="color: #ED5485;font-weight: bold;">alerte</span>. Recevez un SMS tous les soirs avec trois propositions de repas pour le lendemain.
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

  </div>

  <div id="search-section" class="text-center">
    <div class="container">
    <h2 id="features-title">Trouver un repas</h2>
    <form class="form-inline" action="/search">
      <div class="form-group">
        <label class="sr-only" for="address">Addresse</label>
        <input type="text" class="form-control" name="address" id="address" placeholder="Addresse">
      </div>
      <div class="form-group">
        <label class="sr-only" for="date">Date</label>
        <input type="text" class="form-control" name="date" id="datepicker" placeholder="Date">
      </div>
      <div class="form-group">
        <input type="hidden" class="form-control" name="lat" id="lat">
      </div>
      <div class="form-group">
        <input type="hidden" class="form-control" name="lon" id="lon">
      </div>
      <button type="submit" class="btn btn-default">Chercher</button>
    </form>

  </div>
  </div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  <!-- <script> -->
    $('#datepicker').datepicker({
      format: "dd/mm/yyyy",
      weekStart: 1,
      language: "fr",
      autoclose: true,
      todayHighlight: true
    });

    var placeSearch, autocomplete;

    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */(document.getElementById('address')),
          {types: ['geocode']});

      // When the user selects an address from the dropdown, populate the address
      // fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();

      // for (var component in componentForm) {
      //   document.getElementById(component).value = '';
      //   document.getElementById(component).disabled = false;
      // }

      // Get each component of the address from the place details
      // and fill the corresponding field on the form.
      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (addressType == 'street_number') {
          street_number = place.address_components[i]['long_name']
        } else if (addressType == 'route') {
          route = place.address_components[i]['long_name']
        } else if (addressType == 'locality') {
          locality = place.address_components[i]['long_name']
        } else if (addressType == 'postal_code') {
          postal_code = place.address_components[i]['long_name']
        } else if (addressType == 'country') {
          country = place.address_components[i]['long_name']
        }
      }
      document.getElementById('address').value = place['formatted_address'];
      document.getElementById('lat').value = place.geometry.location.lat();
      document.getElementById('lon').value = place.geometry.location.lng();
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }

    initAutocomplete();

  <% end %>
  <!-- </script> -->
<% end %>
