<div id="page-content">
  <div class="container" id="container-orga">
    <h1>Organisation : <%= @organization.name %></h1>
    <h3>Liste des distributions</h3>
    <div class="row">
      <div class="col-sm-6 ">
     <!--   <p><i class="fa fa-phone-square"></i><%= @organization.phone_number%></p> -->
       <div class="list-group-container">
         <div class="list-group">
          <% @organization.distributions.each_with_index do |dis, index| %>
          <%= link_to distribution_path(dis), class: "list-group-item distribution-item", data: { id: index } do %>
          <h5><%= dis.name %></h5>
            <%= dis.address_1 %>
            <%= dis.postal_code %>

          <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= IceCube::Schedule.from_yaml(dis.recurrence) %></p>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">

      <div id="map-wrapper">
        <div id="map"></div>
      </div>

    </div>
  </div>
  </div>
</div>


<% content_for(:after_js) do %>

  <script>
    window.distrib_markers = null;
    window.distrib_map = null;
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
        window.distrib_markers = markers;
        window.distrib_map = handler;
      });

      $("body").on("mouseenter", ".distribution-item", function() {
        var index = $(this).data("id");
        var marker = window.distrib_markers[index];
        var infowindow = marker.infowindow;
        window.distrib_map.getMap().setCenter(marker.serviceObject.position)
        google.maps.event.trigger(marker.getServiceObject(), 'click');
      })
      $("body").on("mouseleave", ".distribution-item", function() {
        $(".gm-style-iw").next().click();
      });
    });
  </script>
<% end %>



