<div class="container">
  <div class="row">
    <h1>Organization</h1>
    <% @organisation.first_name %>
    <% @organization.last_name  %>
    <h2><%= Name %></h2>
    <%= @organization.organization_name %>
    <h2><%= Phone number %></h2>
    <%= @organization.phone_number %>

    <h1>Distribution</h1>
    <%= @organisation.distribution %>
  </div>
</div>
