
<div class="container">
  <div class="row">
    <div class="col-xs-6">
     <h1><%= @organization.organization_name %></h1>
       <p><%= @organization.email %></p>
        <p><%= @organization.phone_number%></p>
        <div class="list-group">
          <% @organization.distributions.each do |dis| %>
            <%= link_to distribution_path(dis), class: "list-group-item" do %>
            <%= dis.name %>
            <%= dis.address_1 %>
            <%= dis.postal_code %>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="col-xs-6">
      <div id="map"> </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>


  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>



